* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pony";
  src: url(./font/Pony.ttf);
}
#GameBauCua {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Pony";
  background-color: rgb(254, 153, 2);
}
.quantity {
  position: absolute;
  color: green;
  font-size: 20px;
  top: 0;
  right: 44%;
  padding: 8px 12px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid red;
}
.plate {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.xucxac__item {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 30%;
  margin-left: 36px;
  margin-top: 48px;
}

.ex1 {
  perspective: 800px;
  height: 100%;
}

.ex2 {
  perspective: 150px;
}

.cube {
  transform-style: preserve-3d;
  /* animation: mymove 0.3s infinite; */
  transform: rotateY(16deg) rotateX(0deg);
  height: 100%;
}
@keyframes mymove {
  from {
    transform: rotateX(-45deg) rotateY(30deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.side {
  position: absolute;
  width: 72px;
  height: 72px;
  background: rgba(100, 100, 100, 0.5);
  text-align: center;
  line-height: 62px;
  border: 4px solid red;
  border-radius: 4px;
}
.side img {
  border-radius: 4px;
}

.front {
  transform: translateZ(32px);
}
.top {
  transform: rotateX(90deg) translateZ(32px);
}
.right {
  transform: rotateY(90deg) translateZ(32px);
}
.left {
  transform: rotateY(-90deg) translateZ(32px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(32px);
}
.back {
  transform: rotateY(-180deg) translateZ(32px);
}

label {
  margin-right: 10px;
}

/* -------------------------------------------  */
